@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sidebar-transition {
    transition: width 0.3s ease;
  }
  
  .sidebar-nav-item:hover {
    border-right-width: 4px;
    border-color: #68ddbd;
  }
}